h2 {
  text-decoration: underline;
}

.yep-medium-text {
  font-size: 1.1em;
}

.yep-large-text {
  font-size: 1.5em;
}

.yep-contact-row .card {
  min-height: 200px;
}

body > main, body > footer {
  padding-left: 300px;
}

.card.horizontal .card-image {
  max-width: 30%;
}

#price, #about {
  height: 600px;
}

@media only screen and (max-width : 1500px) {

  #price {
    height: 700px;
  }
}

@media only screen and (max-width : 1300px) {

  #price {
    height: 800px;
  }
  #about {
    height: 700px;
  }
}

@media only screen and (max-width : 1200px) {
  #price {
    height: 1100px;
  }
  #about {
    height: 750px;
  }
}

@media only screen and (max-width : 992px) {
  body > main, body > footer {
    padding-left: 0;
  }

  #price {
    height: 1050px;
  }
}

.table-of-contents a.active {
  background-color: #004d40;
}

/* FORM COLOR */

/* label color */
.input-field label {
  color: #006064 ;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #006064 ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #006064 ;
  box-shadow: 0 1px 0 0 #006064 ;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #006064 ;
  box-shadow: 0 1px 0 0 #006064 ;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #006064 ;
  box-shadow: 0 1px 0 0 #006064 ;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #006064 ;
}